<% title "#{@users.name}'s Game" %>
<% meta_tag :description, "Hey #{@users.name}, Try hard to get on top of the score board by finishing the game in least time." %>

<% unless @users.name.nil? %>
  <%= render 'layouts/user_header' %>
<% end %>

<%= render 'score_boards/stats'%>

<div class="container text-center">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="rounded mx-auto my-3" id="timer-bar">
        <div id="timer"></div>
      </div>
    </div>
  </div>
  <div class="question" id="question">
  </div>
  <div class="ans-buttons row">
    <div class="col-md-4 col-6 mx-auto">
      <div class="row">
        <button type="button" class="btn btn-success col-4 mx-auto" id="ude"><i class="fa fa-check"></i></button>
        <button type="button" class="btn col-4 mx-auto d-none" id="btn-mock"></button>
        <button type="button" class="btn btn-danger col-4 mx-auto" id="na-ude"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'questions' %>
