<div class="container my-2">
  <div class="row text-center mx-auto">
    <div class="col-md-4 text-md-right"><%= image_tag "favicon.png", height: "100px" %></div>
    <div class="col-md-8 text-md-left">
      <div class="app-title">Chakli Ude</div>
      <div class="font-italic"> The game you grew up playing is now live and in ACTION!</div>
    </div>
  </div>
</div>