<div class="container my-2">
  <div class="row col-10 mx-auto text-center score-board-stats">
    <div class="col-4 row mx-auto">
      <div class="col-6 mx-auto">Score: </div>
      <div class="col-6 mx-auto" id="score-stat">0</div>
    </div>
    <div class="col-4 row mx-auto">
      <div class="col-6 mx-auto">Strike: </div>
      <div class="col-6 mx-auto" id="strike-stat">0</div>
    </div>
  </div>
</div>