// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.app-title {
  font-size: 42px;
  font-family: monospace;
}

.timer {
  font-size: 72px;
}

.question {
  font-size: 48px;
}
