@import "application";

.btn-game {
  color: white;
  background-color: $main-color-dark;
  border-color: $main-color-dark;
}

.btn-game:hover {
  background-color: $main-color-light;
}

.table-scoreboard {
  thead {
    color: white !important;
    background-color: $main-color-dark !important;
  }

  tbody tr:nth-child(even) {
    background-color: $main-color-light !important;
  }
}
