<footer class=" text-center text-white" style="background-color:#1ef1d8;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="row">
      <div class="col-md-6 text-right mx-auto border-right">
        Created By: Bhavik Parmar, Kishan Aghera & Nishit Modha
      </div>
      <div class="col-md-6 text-left mx-auto border-left">
        <a class="text-white" href="https://github.com/bhavik2936/chakli-ude" target="_blank"><i class="fa fa-github"></i> Chakli-Ude</a>
      </div>
    </div>
  </div>
</footer>
